<h3>Update band:</h3>

<form action="/bands/$band.getId()" method="post">
  <label for="newBandName">New Name</label>
  <input id="newBandName" name="newBandName" type="text" value="$band.getBandName()">
  <label for="genre">New Genre</label>
  <input id="newGenre" name="newGenre" type="text" value="$band.getGenre()">
  <br>
  <button type="submit" class="btn btn-success">Update</button>
</form>

<p><a href="/bands/$band.getId()">Back</a></p>
